body{
	margin: 0;
}
#ad-tbb{
	box-sizing: border-box;
	width: 298px; 
	height: 598px; 
	background-color: #ffffff;
	border: 1px solid black;
	cursor: pointer;
	position: relative;
	display: block;
	overflow: hidden;
	z-index: 10;
}
.adContent{
	visibility: hidden;
	display: block;
	position: relative;
	z-index: 0;
	left: -2px;
}

.text{
	position: absolute;
	display: block;
	left:0px;
	top:0px;
	z-index: 7;
	transform-origin: 0 0;
	visibility: hidden;
}

/*houses*/
.image{
	visibility: hidden;
	position: absolute;
	display: block;
	left: 0px;
	top: 88px;
	z-index: 4;
}

.imageTop{
	visibility: hidden;
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
	z-index: 5;
}
#image1, #greenBox, #friendly, #txt1{
	visibility: visible;
}

.logo{
	visibility: visible;
	position: absolute;
	display: block;
	left:0px;
	top: 0px;
	z-index: 6;
}
.cta{
	visibility: hidden;
	position: absolute;
	display: block;
	left:0px;
	top: 0px;
	z-index:7;
	
}