body{
	margin: 0;
}
#ad-tbb{
	box-sizing: border-box;
	width: 726px; 
	height: 88px; 
	background-color: #ffffff;
	border: 1px solid black;
	cursor: pointer;
	position: relative;
	display: block;
	overflow: hidden;
	z-index: 10;
}
.adContent{
	visibility: hidden;
	display: block;
	position: relative;
	z-index: 0;
	left: -2px;
}

.text{
	position: absolute;
	display: block;
	left:0px;
	top:0px;
	z-index: 4;
	transform-origin: 0 0;
	visibility: hidden;
}
#friendly{
	visibility: visible;
}
/*houses*/
.image{
	visibility: visible;
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
	z-index: 2;
}
#image3{
	z-index:5;
	visibility: hidden;
}
#image2{
	z-index:4;
	visibility: hidden;
}
#image1{
	z-index:3;
	visibility: hidden;
}

.logo{
	visibility: visible;
	position: absolute;
	display: block;
	left:0px;
	top: 0px;
	z-index: 6;
}
.cta{
	visibility: hidden;
	position: absolute;
	display: block;
	left:0px;
	top: 0px;
	z-index:7;
	
}